<div class="bg-light">
	<div>
		<p class="display-3">
			<%= @friend.first_name %> <%= @friend.last_name %>
		</p>
	</div>

	<div class="pb-4">
		<p>
			<%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
		</p>
	</div>

	<%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %>
	<%= link_to 'Back', friends_path, class: "btn btn-dark" %>
</div>
